
.margin-bottom { 
    margin-bottom: 100px;
} 

/* !important overides bootstrap */
.search-results-item-title {  
    color: black !important;
} 

.card-img-top {
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
    transform: scale(1.03);
}