<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct Messages</title>
</head> 

{% extends 'base.html' %} 
{% block content %}    

<body> 
    <h2>{{ recipient }}</h2>
    <div class="messages" id="messages">
        {% for msg in messages %}
            <div class="text">
                <span>
                    {% if msg.sender == current_user.username %}
                        <span style="color: red;">You</span>
                    {% else %}
                        <strong>{{ msg.sender }}</strong>
                    {% endif %}
                    : {{ msg.content }}
                </span>
                <span class="time">{{ msg.timestamp }}</span>
            </div>
        {% endfor %}
    </div> 
    <div class="inputs"> 
        <input type="text" rows="3" placeholder="Message" name="message" id="message"/> 
        <button type="button" name="send" id="send-btn" onClick="sendMessage()"> 
            Send
        </button>
    </div> 

    <a href="{{ url_for('home') }}">Back to Home</a>

    <script type="text/javascript">  
        var socketio = io();  

        const messages = document.getElementById("messages");
        const currentUser = '{{ current_user.username }}';

        const createMessage = (name, msg, time) => { 
            const displayName = name === currentUser ? '<span style="color: red;">You</span>' : `<strong>${name}</strong>`;
            
            const content = `  
            <div class="text"> 
                <span> 
                    ${displayName}: ${msg} 
                </span>  
                <span class="time"> 
                    ${time} 
                </span>
            </div> 
            `;
            messages.innerHTML += content; 
        };

        // Handle incoming messages from the socket
        socketio.on("message", (data) => {  
            const time = data.time || new Date().toLocaleString(); 
            createMessage(data.name, data.message, time); 
        });

        // Function to send a message
        const sendMessage = () => { 
            const message = document.getElementById("message");
            if (message.value == "") return; 
            socketio.emit("message", {data: message.value}); 
            message.value = '';
        };
    </script>  
{% endblock %}
</body>
</html>
