

{% extends "base.html" %} 
{% block content %} 


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Poker Stonks{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head> 

<body class="loginbody">  
  <div class="login-header-flexbox">
    <h1 class="loginheader">Sign In</h1>
    <p class="loginnewuser"> New User? <a href="{{ url_for('register')}}" class="registernewuser">Click to Register!</a></p>
  </div>
    <form action="" method="post"> 
      <div class="login-flexbox">
        {{ form.hidden_tag() }}
        <p class="loginemail">
            {{ form.email.label }}<br>
            {{ form.email(class="loginemailfield") }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="loginpassword">
            {{ form.password.label }}<br>
            {{ form.password(class="loginpasswordfield") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="loginremember">{{ form.remember() }} {{ form.remember.label }}</p>
        <p>{{ form.submit(class="loginbutton", id="loginbutton") }}</p> 
      </div>
        
      
    </form>


</body>






{% endblock %}