<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Poker Stonks{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>


{% extends "base.html" %} 
{% block content %}  
<body class="wie-body"> 
    <div class="wie-flexbox">
        <h1 class="wie-header"> What is Equity and What Does the Calculator Tell You? </h1> 
        <p class="wie-info"> Equity means the probability of a particular hand of winning the pot if it were to go to showdown (after the river). </p>
        <p class="wie-info"> So, this calculator will tell you how much equity you have against any given hand, or in other words, your chance of winning against any given hand. </p>
        <img class="wie-image" src="https://c8.alamy.com/comp/2BWXA9N/emoticon-showing-thumb-up-2BWXA9N.jpg"> 
        <a href="{{ url_for('calculator')}}" class="wie-back-to-calculator"> Back to Calculator </a>
    </div>
</body>

{% endblock %}  