

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hold Em'{% endblock %}</title>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='grid.css') }}">
  </head>

  <body>    
      <label>
        <input type="checkbox" class="checkbox">  
      
          <div class="toggle"> 
            <span class="top-line common"></span> 
            <span class="middle-line common"></span> 
            <span class="bottom-line common"></span>
          </div> 
        <div class="slide">   
          
          <div class="menu-header"> Menu </div> 
          <div class="base-flexbox"> 
            <div class="base-home"> <h1><a href="{{ url_for('index')}}"><i class="fas fa-tv"></i> Home </a></h1> </div>  
            <div class="base-preflop"> <h1><a href="{{ url_for('preflop')}}"><i class="fa-solid fa-chart-simple"></i> Charts </a></h1> </div>  
            <div class="base-positions"> <h1><a href="{{ url_for('positions')}}"><i class="fa-solid fa-person"></i> Positions </a></h1></div> 
            <div class="base-calculator"> <h1><a href="{{ url_for('calculator')}}"><i class="fa-solid fa-calculator"></i> Calculator </a></h1></div>


          </div>  

          <!-- <ul>
            <li id="base-home"><a href="{{ url_for('index')}}"><i class="fas fa-tv"></i> Home </a></li>
            <li id="base-preflop"><a href="{{ url_for('preflop')}}"><i class="fa-solid fa-chart-simple"></i> Charts </a></li>  
            <li id="base-positions"><a href="{{ url_for('positions')}}"><i class="fa-solid fa-person"></i> Positions </a></li>  
            <li id="base-calculator"><a href="{{ url_for ('calculator')}}"><i class="fa-solid fa-calculator"></i> Calculator </a></li>  -->


          
          <div class="user-flexbox">
              <form action="{{ url_for('logout') }}" method="post" class="base-logout"> 
                {% if current_user.is_authenticated %} 
                  <h4 id="base-logout-user"><i class="fa-regular fa-user"></i> {{ current_user.username }} </h4> 
                  <button type="submit" id="base-logout-button">Logout</button> 
                {% endif %}
              </form>    
          </div>
        </div>
    {% block content %}
    {% endblock %}
  </body> 
</html> 

