

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hold Em'{% endblock %}</title>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head> 

  {% extends "base.html" %} 
  {% block content %} 

<body class="home-body">  

  <div class="home-container">  
      <img src="https://i.ytimg.com/vi/Yd48zPCbbJ8/maxresdefault.jpg" class="home-image-animation" id="wsop-image">
      <div class="home-image-animation" id="home-border-animation"></div> 
  </div>    
  <h1 class="index-welcome"> Welcome! </h1>    

</body> 

</html>
{% endblock %} 


